
/* This is the CSS code for my ToDo List App */

@import url('https://fonts.googleapis.com/css?family=Ubuntu:500&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.todo__header {
    width: 100%;
    padding: 30px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    background-color: #212121;
    border-bottom: 3px solid black;
}

div.todo__headerContainer {
    border: none;
    margin: 20px 0px;
    padding: 20px;
    text-align: center;
}

.todo__form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo__form .btn {
    height: inherit;
    margin-left: 20px;
}

.text {
    height: 38px;
    padding: 4px;
    border-radius: 3px;
}

.container, .todo_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.unfinished-todo-container, .finished-todo-container {
    margin: 10px;
    flex-grow: 1;
    padding: 10px;
    text-align: center;
    align-self: baseline;
    border-radius: 10px 10px 20px 20px;
    background-color: rgb(230, 230, 230);
}

.TodoItem {
    padding: 10px;
	display: flex;
	margin-top: 10px;
    border-radius: 10px;
	align-items: baseline;
	justify-content: space-around;
    background-color: rgb(255, 255, 255);
}

.TodoItem h2 {
	color: #404345;
	text-align: center;
}

.TodoItem .btn-success, .TodoItem .btn-warning {
	margin-left: 90px;
}
